.flow-page
  %h2.sub-title RENO 簡単3ステップ！
  .step-1.flow-block
    %h2.mark-text STEP ①
    %h2.flow-messe 好きなブランド・応援したいブランドに登録！
    .flow-image
    .flow-d
      %p.flow-detals 好きなブランドのロゴを押すと、応募条件・参加特典を確認できます。
      %p.flow-detals 「登録」をクリックするだけで登録完了。登録すると特定のコードが送られてきます。
  .step-2.flow-block
    %h2.mark-text STEP ②
    %h2.flow-messe 登録したブランドの動画を撮ってSNSに投稿しよう！
    .flow-image
    .flow-d
      %p.flow-detals 登録したブランドの服・きている姿などを自分なりに撮影して
      %p.flow-detals 自分のSNS(Instagram・Twitter・TikTok)に投稿！
      %p.flow-detals STEP①で送られてきたコードと、RENO公式アカウントのタグを点け忘れずに！
  .step-3.flow-block
    %h2.mark-text STEP ③
    %h2.flow-messe 限定アイテムゲットや公式アンバサダー認定！
    .flow-image
    .flow-d
      %p.flow-detals 募集期間が終わり、公式アンバサダー認定された方・動画投稿をしてくれた方に
      %p.flow-detals メールが届きます。必要事項を書いて限定グッズを手に入れよう！