.main-apile
  .main-apile__text
    %h2 PR動画をとって限定グッズを手に入れよう！！
    %p 最新のPR動画革命
    =link_to '/', class: 'newC' do
      %p はじめてのかたはこちら
.main-flow
  .main-flow__text
    %h2.nal Renoの流れ
  .main-flow__ruru
    .ruru-1
      .ima-1
      .docu
        %p 流れ1
    .ruru-2
      .ima-2
      .docu
        %p 流れ2
    .ruru-3
      .ima-3
      .docu
        %p 流れ3
  %i.fas.fa-arrow-right.fa-5x.r-1
  %i.fas.fa-arrow-right.fa-5x.r-2
  
.main-company
  .main-company__text
    %p 提携アパレル企業
  .main-company__icon
  .main-company__details
.main-fee
  お見積もり
.back-image